@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'cascadia code', sans-serif;
    transition: 0.3s all;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #0a1930;

}
html{
    font-size: 62.5%;
}

.nav{
    height: 10vh;
    background-color: #0a1930;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 99;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.logospan{
    position: absolute;
    left: 7%;
}
.logospan span{
    font-size: 3rem;
    color: white;
}
ion-icon{
    font-size: 2rem;
    color: white;
}
.logospan span:nth-child(3){
    color: violet;
    animation: blink 0.8s linear infinite;
}
#click{
    display: none;
    pointer-events: none;
}
.navmenu li a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    position: relative;
    transition: 0.5s;
    text-shadow: 0px 0px 30px rgb(255, 255, 255);
    letter-spacing: 0;
    
}
.navmenu li{
    list-style: none;
}
.navmenu{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 3.5rem;
    right: 7%;
    width: fit-content;
}

.navmenu li a:hover{
    color: #64ffda;
    letter-spacing: 1px;
    text-shadow: 0px 0px 30px #64ffda;

}
.navmenu li .hire{
    color: #64ffda;
    /* letter-spacing: 1px; */
    text-shadow: 0px 0px 30px #64ffda;

}
.gap{
    height: 10vh;
    width: 100%;
    position: relative;
}

.socials{
    width: 5rem;
    height: 50%;
    position: fixed;
    left: 6%;

    bottom: 0;
    z-index: 80;
    display: flex;
    justify-content: center;
}
.dash{
    position: inherit;
    width: 0.2rem;
    top: 85%;
    bottom: 0;
    z-index: 81;
    background-color: rgb(196, 196, 196);
}
#s2{
    left: auto;
    right: 6%;
    background-color: transparent;
}
#s2 span{
    position: inherit;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg) translateX(-50%);
    height: 1rem;
    width: fit-content;
    font-size: 1.5rem;
    color: rgb(196, 196, 196);
    bottom: 16%;
    cursor: pointer;
    transition: 0.3s;
}
#s2 span:hover{
    letter-spacing: 1px;
    color: #64ffda;
}
#s1 .soci{
    position: fixed;
    width: 3rem;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    bottom: 15%;
}
.soci ion-icon{
    font-size: 2.7rem;
    color: rgb(196, 196, 196);
    margin: 0.4rem;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
}
.soci ion-icon:hover{
    color: #64ffda;
    transform: translateY(-0.5rem);
}
.sec1{
    left: 10%;
    height: 90vh;
    background-color: #0a1930;
    width: 80%;
    margin: 0;
    padding: 3%;
    display: flex;
    position: relative;
    z-index: 0;
}
.sec2, .sec3{
    left: 10%;
    height: max-content;
    background-color: #0a1930;
    width: 80%;
    margin: 0;
    padding: 3%;
    display: flex;
    position: relative;
    z-index: 0;
}
.writings, .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    padding-right: 4rem;
}
.pic{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.sec2 .pic{
    padding-right: 5rem;

}
.pic img{
    width: 80%;
    aspect-ratio: 2.143/2.327;
    filter: drop-shadow(10px 10px 20px #64ffdb3a);
}
.writings h3,.project h3{
    font-size: 2.2rem;
    color: rgb(196, 196, 196);
}
.writings h1,.project h1{
    color: rgb(196, 196, 196);
    font-size: 4rem;
}
.sec2 .writings h1{
    margin-bottom: 2rem;
}
.writings p,.project p{
    color: rgb(196, 196, 196);
    font-size: 1.8rem;
}
.writings div,.project div{
    color: rgb(196, 196, 196);
    font-size: 1.8rem;
    
}
.writings a{
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: #64ffda;
    width: max-content;
    color: #0a1930;
    border-radius: 3rem;
    margin-top: 2rem;
    border: 2px solid #64ffda;

    transition: 0.3s;
}
.writings a:hover{
    background-color: transparent;
    border: 2px solid #64ffda;
    color: #64ffda;
    border-radius: 3rem;
    margin-top: 2rem;
}
div b{
    color: #64ffda;
    font-weight: normal;
}
.list{
    font-size: 1.6rem;
    display: flex;
    color: rgb(196, 196, 196);
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.list div{
    width: 50%;
    display: flex;
    align-items: center;

}
.list>div>ion-icon{
    color: #64ffdb93;
    font-size: 1.5rem;
}
.project{
    width: 100%;
    align-items: center;
}
.project h1{
    margin:  5rem 0;
}
.project1{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 4rem 0;
    height: max-content;
    margin-bottom: 10rem;
}
.project1 .pic{
    background-image: url(Untitled-1.png);
    aspect-ratio: 4/3;
    width: 60%;
    position: relative;
    background-size: cover;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.342);
    border-radius: 15px;
    overflow: hidden;
}
.project1 .pic::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #0e443756;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.3s ;
}
.details, .details1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.details1{
    align-items: flex-start;

}
.project1:nth-child(3) .pic{
    background-image: url(Untitled.png);
}
.project1:nth-child(4) .pic{
    background-image: url(caf.png);
}
.project1 .pic:hover::before{
    
    opacity: 0;
}
.details h3,.details1 h3{
    font-weight: normal;
    color: #64ffda;
    text-align: right;
    font-size: 1.8rem;
}
.details h2,.details1 h2{
    text-align: right;
    font-size: 3rem;
    /* margin-top: 3rem; */
}
.details p,.details1 p{
    text-align: right;
    font-size: 1.8rem;
    /* margin-top: 3rem; */
    padding: 2rem 3rem;
    width: 115%;
    position: relative;
    background: #0d2241;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.151);
}
.details1 p{
    text-align: left;
}
.details1 h2{
    text-align: left;
}
.details1 h3{
    text-align: left;
}
.tech{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    width: max-content;
    z-index: 5;
    /* margin-top: 2rem; */
}
.tech li{
    font-size: 1.4rem;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    /* margin-top: 4rem; */
}
.buttons ion-icon{
    cursor: pointer;
    font-size: 3rem;
    color: rgb(196, 196, 196);
    transition: 0.3s;
}
.buttons ion-icon:hover{
    color: #64ffda;
}
.details1 .tech{
    justify-content: flex-start;
}
.details1 .buttons{
    justify-content: flex-start;
}
.explore{
    font-size: 2rem;
    padding: 2rem 3.2rem;
    border: 2px solid #64ffda;
    color: #64ffda;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}
.explore:hover{
    border: 2px solid #64ffda;
    background-color: #64ffda;
    color: #0d2241;

}